
section {
  position: relative;
  width: 100%;
}


.section {
  padding: 0 2rem;
  margin-bottom: 10rem;
}
@media only screen and (max-width: 1024px) {
  .section {
    padding: 0 1rem;
  }
}
@media only screen and (max-width: 584px) {
  .section {
    padding: 0 0.5rem;
    margin-bottom: 6rem;
  }
}
.section .heading {
  position: relative;
  display: flex;
  margin-bottom: 1rem;
}
.section .heading .index {
  margin-top: 0.7rem;
  height: auto;
  font-size: 1.25rem;
}
@media only screen and (max-width: 1024px) {
  .section .heading .index {
    margin-top: 0.5rem;
  }
}
@media only screen and (max-width: 767px) {
  .section .heading .index {
    margin-top: 0.2rem;
  }
}
@media only screen and (max-width: 584px) {
  .section .heading .index {
    margin-top: 0.2rem;
    font-size: 0.75rem;
  }
}
.section .heading h2 {
  text-transform: uppercase;
  margin: 0;
}
.section .heading::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 0.25rem);
  margin: 0.5rem 0;
  background: url(../img/scanlines.svg) repeat;
  transform: scale3d(0, 1, 1);
  transform-origin: top left;
  transition: transform 1s var(--ease-in-out);
}
@media only screen and (max-width: 1024px) {
  .section .heading::before {
    margin-top: 0.35rem;
  }
}
@media only screen and (max-width: 584px) {
  .section .heading::before {
    margin: 0.3rem 0;
  }
}


.section--intro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}
.section--intro .city {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.c_darkmode {
  --cc-bg: #191715;
  --cc-text: #d8e5ea;
  --cc-btn-primary-bg: #a6c4dd;
  --cc-btn-primary-text: #000;
  --cc-btn-primary-hover-bg: #c2dff7;
  --cc-btn-primary-hover-text: var(--cc-btn-primary-text);
  --cc-btn-secondary-bg: #33383c;
  --cc-btn-secondary-text: var(--cc-text);
  --cc-btn-secondary-hover-bg: #3e454a;
  --cc-btn-secondary-hover-text: var(--cc-btn-secondary-text);
  --cc-toggle-bg-off: #667481;
  --cc-toggle-bg-on: var(--cc-btn-primary-bg);
  --cc-toggle-bg-readonly: #454c54;
  --cc-toggle-knob-bg: var(--cc-cookie-category-block-bg);
  --cc-toggle-knob-icon-color: var(--cc-bg);
  --cc-block-text: #b3bfc5;
  --cc-cookie-category-block-bg: #23272a;
  --cc-cookie-category-block-bg-hover: #2b3035;
  --cc-section-border: #292d31;
  --cc-cookie-table-border: #2b3035;
  --cc-webkit-scrollbar-bg: #667481;
  --cc-webkit-scrollbar-bg-hover: #9199a0;
}
